button {
  color: inherit;
}
html {
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
}

code {
     font-family: "JetBrains Mono", monospace;
}

body {
    background: var(--color-tree-bg);
    color: var(--color-text);
  }
