/* variables.scss */

/* Light mode colors */
$text-light: #000;
$header-bg-light: #f8f9fb;
$tree-bg-light: #ffffff;
$log-bg-light: #dfe1e5;
$added-green-light: #007f00;
$removed-red-light: #7f0000;

/* Dark mode colors */
$header-bg-dark: #281a33;
$tree-bg-dark: #000;
$log-bg-dark: #281a33;
$added-green-dark: #03a51a;
$removed-red-dark: #c4001c;
