/* variables.scss */

/* Light mode colors */

$text-light: #000;
$header-bg-light: #f8f9fb;
$tree-bg-light: #ffffff;
$log-bg-light: #dfe1e5;
$added-green-light: #007f00;
$removed-red-light: #7f0000;

/* Dark mode colors */
$text-dark: #fff;
$header-bg-dark: #281a33;
$tree-bg-dark: #000;
$log-bg-dark: #281a33;
$added-green-dark: #03a51a;
$removed-red-dark: #c4001c;

:root {
  color-scheme: light;
  --color-text: #{$text-light};
  --color-header-bg: #{$header-bg-light};
  --color-tree-bg: #{$tree-bg-light};
  --color-log-bg: #{$log-bg-light};
  --color-added: #{$added-green-light};
  --color-removed: #{$removed-red-light};
  --color-divider: #{rgba($text-light, 0.15)};
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --color-text: #{$text-dark};
  --color-header-bg: #{$header-bg-dark};
  --color-tree-bg: #{$tree-bg-dark};
  --color-log-bg: #{$log-bg-dark};
  --color-added: #{$added-green-dark};
  --color-removed: #{$removed-red-dark};
  --color-divider: #{rgba($text-dark, 0.35)};
}
