pkgbase = usb-tree-app-bin
	pkgdesc = USB device tree viewer with detailed information (binary release)
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/AOzmond/usb-tree
	arch = x86_64
	license = GPL
	depends = gtk3
	depends = webkit2gtk
	depends = libusb
	provides = usb-tree
	conflicts = usb-tree
	source = usb-tree-app-bin-0.0.2.tar.gz::https://github.com/AOzmond/usb-tree/releases/download/0.0.2/usb-tree-linux-amd64.tar.gz
	sha256sums = 440894630c11112714de399b30ce1fbe2b9a47b3dc4bc50ef3fbdca6ab802f4b

pkgname = usb-tree-app-bin
