pkgbase = usb-tree-app-bin
	pkgdesc = USB device tree viewer with detailed information (binary release)
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/AOzmond/usb-tree
	arch = x86_64
	license = GPL-2.0-or-later
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = libusb
	provides = usb-tree
	conflicts = usb-tree
	source = usb-tree-app-bin-0.0.2.tar.gz::https://github.com/AOzmond/usb-tree/releases/download/0.0.2/usb-tree-linux-amd64.tar.gz
	sha256sums = 66f66bef5adf99c8ebb635a826d604e53666ff916e44ba8a3739841b0b007cd8

pkgname = usb-tree-app-bin
